html {
    overflow-x: unset;
}

.hs_navigation_header_wrapper {
    position: relative !important;
}

.searchd {
    background: transparent;
    float: left;
    font-size: 16px;
    border: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.57);
    cursor: pointer;
    line-height: 22px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: black;
    margin-top: -58px !important;
    margin-left: 730px !important;
}

.select2-container--open .select2-dropdown--below {
    width: 150px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: red !important;
}

a:active, a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1200px;
    }
}

.x_partner_main_wrapper {
    & > .container {
        & > .row {
            border: 1px solid #e2e2e2;
            padding: 30px;
        }
    }
}

.pagination .page-item.active .page-link {
    color: #fff;
    float: left;
    background: #3490dc;
    font-size: 16px;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .page-item:first-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination > li:first-child > .page-link {
    width: 90px;
    height: 50px;
    text-align: center;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 10px;
    background: #ffffff;
    color: #111111;
    float: left;
    font-size: 16px;
    margin-right: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 50px;
}
