<template>
    <div class="x_partner_main_wrapper float_left padding_tb_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_offer_car_heading_wrapper float_left">
                        <h4>Our Cars Partners</h4>
                        <h3>brands in fleet</h3>
                        <p>Morbi mollis vestibulum sollicitudin. Nunc in eros a justo facilisis rutrum. Aenean id
                            ullamcorper libero
                            <br>Vestibulum imperdiet nibh vel magna lacinia commodo ultricies,
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wrap-album-slider">
                        <ul class="album-slider">
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt1.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt2.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt3.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt4.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt5.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt6.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt1.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt2.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt3.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt4.png" alt="img">
                                </figure>
                            </li>
                            <li class="album-slider__item">
                                <figure class="album">
                                    <img src="/web-assets/images/prt5.png" alt="img">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "partners-component",
    mounted() {
        console.log('Partners Component Mounted');
        $('.album-slider').bxSlider({
            minSlides: 1,
            maxSlides: 10,
            slideWidth: 150,
            slideMargin: 17,
            ticker: true,
            tickerHover: true,
            speed: 20000,
            useCSS: false,
            infiniteLoop: false,
        });
    }
}
</script>
