<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Bidding Trips...</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service</th>
                        <th scope="col">Location</th>
                        <th scope="col">Booking Time</th>
                        <th scope="col">Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(trip, index) in biddingTrips" :key="index">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>
                            <img v-if="trip.vehicle_type.vehicle_type_english === '4 Seater' " :src="'/web-assets/img/service/sedan.png'" style="margin-top:-12px" class="service-img" alt="">
                            <img v-if="trip.vehicle_type.vehicle_type_english === '7 Seater' " :src="'/web-assets/img/service/noah.png'" style="margin-top:-12px" class="service-img" alt="">
                            <img v-if="trip.vehicle_type.vehicle_type_english === '10 Seater' " :src="'/web-assets/img/service/hiace.png'" style="margin-top:-12px" class="service-img" alt="">
                            {{ trip.vehicle_type.vehicle_type_english }}({{ trip.service.service_name }})
                        </td>
                        <td>
                            <b>{{ capitalize(trip.pick_up_location) }}</b>
                            to
                            <b>{{ trip.drop_off_location ? capitalize(trip.drop_off_location) : 'N/A' }}</b>
                        </td>
                        <td>{{ trip.created_at | moment("dddd, MMMM Do YYYY") }}</td>
                        <td>
                            <a :href="'/bids/'+trip.id" class="btn btn-primary btn-sm">View <i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            biddingTrips: [],
        }
    },
    watch: {},
    mounted() {
    },
    created() {
        this.getBiddingTrips();
    },
    methods: {
        getBiddingTrips() {
            axios.get('/bids').then(response => {
                this.biddingTrips = response.data.data
            }).catch(e => {
                console.log(e)
            })
        },
    }
}
</script>
