<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Bookings...</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service</th>
                        <th scope="col">Location</th>
                        <th scope="col">Booking Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(booking, index) in Bookings" :key="index">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>
                            <img v-if="booking.vehicle_type_english === '4 Seater' " :src="'/web-assets/img/service/sedan.png'" style="margin-top:-12px" class="service-img" alt="">
                            <img v-if="booking.vehicle_type_english === '7 Seater' " :src="'/web-assets/img/service/noah.png'" style="margin-top:-12px" class="service-img" alt="">
                            <img v-if="booking.vehicle_type_english === '10 Seater' " :src="'/web-assets/img/service/hiace.png'" style="margin-top:-12px" class="service-img" alt="">
                            {{ booking.vehicle_type_english }}({{ booking.service_name }})
                        </td>
                        <td>
                            <b>{{ capitalize(booking.pick_up_location) }}</b>
                            to
                            <b>{{ booking.drop_off_location ? capitalize(booking.drop_off_location) : 'N/A' }}</b>
                        </td>
                        <td>{{ booking.created_at | moment("dddd, MMMM Do YYYY") }}</td>
                        <td>{{ booking.booking_status }}</td>
                        <td>
                            <a-select
                                style="width: 100%"
                                @change="getOperations"
                                v-model="operations"
                            >
                                <a-select-option value="cancel">Cancel</a-select-option>
                                <!-- <a-select-option value="pending">Pending</a-select-option>
                                <a-select-option value="delete">Delete</a-select-option> -->
                            </a-select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            Bookings: [],
            operations: ''
        }
    },
    watch: {},
    mounted() {
        console.log('Component mounted.');
    },
    created() {
        this.getBookings();
    },
    methods: {
        getOperations(value) {
            this.$confirm(
                {
                    message: `Are you sure you want to ${value} this booking?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            // ... do something
                            value = null;
                        }
                    }
                }
            )
        },
        getBookings() {
            axios.get('/account/bookings').then(response => {
                this.Bookings = response.data.bookings
                //  console.log(this.Bookings)
            }).catch(e => {
                console.log(e)
            })
        },
    }
}
</script>
