<template>

</template>
<script>
import PartnersComponent from "../components/ui/PartnersComponent";

export default {
    components: {
        PartnersComponent
    },
    data() {
        return {
            ServiceCategoryList: [],
            ServiceList: [],
            FirstPhaese: true,
            SecondPhase: false,
            ThirdPhase: false,
            IsCategorySelected: false,
            ServiceCat: '',
            SearchedPrice: [],
            pickupdate: '',
            dropoffdate: '',
            pickuptime: '',
            dropofftime: '',

            SearchData: {
                vehicle_type: '',
                pickup_date: '',
                dropof_date: '',
                starting_point: '',
                ending_point: '',
                service_type_id: '',
                service_category_id: '',

            },
        }
    },
    watch: {},
    mounted() {
    },
    created() {

        this.GetServiceCategories();
    },
    methods: {
        handleChange(value) {
            console.log(`Selected: ${value}`);

        },
        onChangeValue(e) {
            console.log(`checked = ${e.target.value}`);
        },
        SearchRequest() {
            this.SearchData.service_category_id = this.ServiceCat;
            this.SearchData.pickupdate = this.pickupdate;
            this.SearchData.dropoffdate = this.dropoffdate
            this.SearchData.pickuptime = this.pickuptime.toLocaleTimeString('en-US');
            this.SearchData.dropofftime = this.dropofftime.toLocaleTimeString('en-US');
            this.SearchData.service_category_id = this.ServiceCat;

            // console.log(this.SearchData)
            axios.post('/search-for-car/', this.SearchData).then(response => {
                console.log(response)
                this.ThirdPhase = true;
                this.FirstPhaese = false;
                this.SecondPhase = false;
                this.SearchedPrice = response.data
            }).catch(error => {
                console.log(error)
            });
        },
        GetServiceCategories() {
            axios.get('/service-categories')
                .then(response => {
                    this.ServiceCategoryList = response.data.serviceCategories
                    // console.log(this.ServiceCategoryList)
                })
                .catch(e => {
                    console.log(e)
                });
        },
        SetServiceCategorey() {
            let selectValue = this.ServiceCat;
            if (selectValue) {
                this.IsCategorySelected = true;
                axios.get('/services-by-category/' + selectValue).then(response => {
                    this.ServiceList = response.data.Services
                }).catch(e => {
                    console.log(e);
                })
            }
        },
        ProceedToSecondPhase() {
            if (this.ServiceCat) {
                this.FirstPhaese = false;
                this.ThirdPhase = false;
                this.SecondPhase = true;
            } else {
                return 0;
            }
        },
        GoBackToFirstPhase() {
            if (this.ServiceCat) {
                this.FirstPhaese = true;
                this.SecondPhase = false;
                this.ThirdPhase = false;
            }
        }
    }
}
</script>
<style>
.service-img {
    vertical-align: middle;
    border-style: none;
    width: 50px;
    padding: 5px 5px 5px 5px;
}

.radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.radio + img {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    color: red;
    font-weight: bold;
}

.radio:checked + img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 2px solid red;
    border-radius: 8px;
}

.portfolio img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.x_car_offer_price_inner {
    width: 85% !important;
}

.x_car_offer_price_inner h5 {
    padding: 10px;
}

.portfolio-icons {
    font-size: 46px;
    padding: 10px;
    color: red;
}

.ant-radio-button-wrapper {
    margin-left: 5px !important;
    color: red !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: red !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    border-color: red !important;
}

.search-btn {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    background: red;
    color: #ffffff;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ant-radio-button-wrapper {
    margin-top: 7px !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: white !important;
    box-shadow: none !important;
    background: red !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: red;
    color: white;
    border-color: red;
}

.ant-radio-button-wrapper-checked span {
    color: white;
}

.search-btn-group {
    background: red !important;
    color: white !important;
    font-weight: bold !important;
    width: auto !important;
}

.mx-datepicker {
    position: relative;
    display: inline-block;
    width: 100% !important;
    margin-top: 10px !important;
}

.mp-input {
    color: red !important;
}

.mx-input:hover, .mx-input:focus {
    border-color: red;
}

.mx-time-column .mx-time-item.active {
    color: red !important;
    background-color: transparent;
    font-weight: 700;
}

.mx-datepicker-main {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
    color: red !important;
}

.mx-icon-calendar, .mx-icon-clear {
    color: red !important;
}
</style>
