<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment Info Info</h5>
                <h1>Under Development</h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    watch: {},
    mounted() {
    },
    created() {
        // this.getProfile();
    },
    methods: {
        getProfile() {
            axios.get('/account/profile').then(response => {
                this.formData = response.data.profile
                console.log(this.formData)
            }).catch(e => {
                console.log(e)
            })
        },
    }
}
</script>
