<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Update Profile Info</h5>
                <form @submit.prevent="updateProfile">
                    <div class="row clearfix">
                        <!--Form Group-->
                        <div class="form-group col-md-12 col-sm-6 col-xs-12">
                            <label for="name">Name:</label>
                            <input id="name" type="text" class="form-control" v-model="formData.name" name="name">
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="mobile">Mobile:</label>
                            <input id="mobile" type="text" class="form-control" v-model="formData.mobile" name="mobile">
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="address">Address:</label>
                            <input id="address" type="text" class="form-control" v-model="formData.address" name="address">
                        </div>
                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                            <button type="submit" class="update_btn">
                                Update Profile
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            formData: {
                name: '',
                phone: '',
                address: '',
            }
        }
    },
    watch: {},
    mounted() {
        console.log('Component mounted.');
    },
    created() {
        this.getProfile();
    },
    methods: {
        getProfile() {
            axios.get('/account/my-profile').then(response => {
                this.formData = response.data.profile
                console.log(this.formData)
            }).catch(e => {
                console.log(e)
            });
        },
        updateProfile() {
            axios.patch('/update-profile', this.formData).then(response => {
                console.log(response)
                this.getProfile();
                this.$notification['success']({
                    message: 'Notification',
                    description: ' Profile Updated Successfully',
                    duration: 4,
                });
            }).catch(error => {
                console.log(error)
            });
        }
    }
}
</script>
